/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'");*/

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: light;
}

/*body img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: .6;
}*/

#message-alert {
  border: 1px solid black;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 10px;
}

#mainNav {
  height: 3rem;
  background-color: rgb(153, 166, 255);
  opacity: .4;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.z-depth-0 {
-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

h3 {
font-weight: 100;
text-align: center;
}



a {
color: #9DBDC6;
}

.btn-flat {

color: #272F32;
background-color: white;
border: 1px solid gray;
text-transform: uppercase;
}

.btn {
background-color: #9DBDC6;
}
.btn-floating{
background-color: #9DBDC6;
}

.btn:hover, #add:hover{
background-color: #272F32;
}


nav ul a,
nav .brand-logo {
  color: #444;
}
.nav:hover{
	background-color: #b2dfdb;
}

form {
width: 100%;
}
ul .tabs {
color: indigo;
}


input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid black;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }
